Libs/*
!Libs/LibMarkdown/
Libs/LibMarkdown/*
!Libs/LibMarkdown/.gitattributes
!Libs/LibMarkdown/Demo.lua
!Libs/LibMarkdown/LICENSE.MD
!Libs/LibMarkdown/LibMarkdown.lua
!Libs/LibMarkdown/LibMarkdown.toc
!Libs/LibMarkdown/LibMarkdown.xml
!Libs/LibMarkdown/LibStub/
Libs/LibMarkdown/LibStub/*
!Libs/LibMarkdown/LibStub/Changelog-LibStub-1.0.2-70000.txt
!Libs/LibMarkdown/LibStub/LibStub.lua
!Libs/LibMarkdown/LibStub/LibStub.toc
!Libs/LibMarkdown/README.md
.release/
release.sh
setup-packager.sh
